<div class="container-fluid">
<ol class="breadcrumb col-md-6">
  <li><%= link_to Vlan, vlans_path %></li>
  <li class="active">Vlan IP</li>
</ol>
<%= render 'search_vlan_ip' %>
<%= unless @vlan_ips.nil?; will_paginate @vlan_ips, :renderer => BootstrapPagination::Rails, :class => "pull-right"; end %>
</div>