<div class="container-fluid">
<ol class="breadcrumb col-md-6">
  <li><%= link_to Vlan, vlans_path %></li>
  <li><%= link_to "Vlan IP", vlan_vlan_ips_path %></li>
  <li class="active"><%= title %></li>
</ol>
</div>
