<div class="container-fluid">
<ol class="breadcrumb col-md-2">
  <li><%= link_to Vlan, vlans_path %></li>
  <li class="active">Vlan IP</li>
</ol>
<div class="col-md-3">
  <%= render 'search_vlan_ip' %>
</div>
<%= render 'per_page_vlan_ips' %>
<%= unless @vlan_ips.nil?; will_paginate @vlan_ips, :renderer => BootstrapPagination::Rails, :class => "pull-right"; end %>
</div>