<div class="pull-left">
<%= form_tag @search_form_path, :method => 'get', :class => "form-group pull-right form-inline", :role => "form" do %> 
  <div class="input-group">
    <%= number_field_tag :per_page, params[:per_page], :class => "pull-left form-control", :type => "number", :min => 1 %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span></button>
    </span>
  </div>
<% end %>
</div>