<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dati di configurazione host.</h1>
    <p>
      <table style="font-size: 14px; font-weight: bold;">
      	<tr><td>
        <% @mail_text.split(/\n/).each do |t|%>
        </td></tr><tr><td>       
        <%= t %>
        </td></tr><tr><td>       
        <% end %>	
        </td></tr>
      </table>
    </p>
  </body>
</html>