<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dati di configurazione host.</h1>
    <p>
      <%= @mail_text %><br/>
    </p>
  </body>
</html>