<div class="col-md-12">
  <div class="col-md-3">
    <%= render 'search_vlan' %>
  </div>
  <div class="col-md-2">
    <%= render 'per_page_vlan' %>
  </div>
  <div class="col-md-offset-1">
    <%= unless @vlans.nil?; will_paginate @vlans, :renderer => BootstrapPagination::Rails; end %>
  </div>
</div>
