<div class="container-fluid">
  <div id="col-md-12">
  	<%= image_tag("lispa.jpg", :border=>0, class: "col-md-6 img-responsive") %>
    <div class="col-md-6">
      <div>
        <h2>Benvenuto nella pagina di accesso alla gestione degli indirizzi IP: <b>Webip</b>.</br>
        <small>Webip è un' applicazione interna di Lombardia Informatica che permette il calcolo delle Vlan e
       	 l'assegnazione degli indirizzi IP.</small></h2>
      </div>
      <div>
        <h2>Accesso al sistema</br>
        <small>Per accedere a Webip è necessario essere registrati all'applicazione
        ed inserire nel box sulla destra le credenziali ricevute in fase di registrazione.</br>
        Se non sei registrato a <b>Webip</b> prima richiedi la registrazione.</small></h2>
      </div>
    </div>
  </div>
</div>
