<div class="container-fluid">
  <div id="col-md-12">
  	<%= image_tag("lispa.jpg", :border=>0, class: "col-md-6 img-responsive") %>
    <div class="col-md-6">
      <h1>Benvenuto!</h1>
      <div>
        <h3>Gestione degli indirizzi IP</h3>
        <hr/>
        <p class="lead">Benvenuto nella pagina di accesso alla gestione degli indirizzi IP: <b>Webip</b>.</p>
        <p class="lead">Webip è un' applicazione interna di Lombardia Informatica che permette il calcolo delle Vlan e
       	 l'assegnazione degli indirizzi IP.</p>
      </div>
      <div>
        <h3>Accesso al sistema</h3>
        <hr/>
        <p>Per accedere a Webip è necessario essere registrati all'applicazione
           ed inserire nel box sulla destra le credenziali ricevute in fase di registrazione.</p>
        <p>Se non sei registrato a <b>Webip</b> prima richiedi la registrazione.</p>
      </div>
    </div>
  </div>
</div>