<div id="barra_istituzionale" class="clearfix">
  <div class="logo hidden-xs">
	<a href="http://www.lispa.it">
	  <%= image_tag("new_lispa2.png", :alt => "Lombardia Informatica") %>
	</a>
  </div>
  <div>
	<div class="area_titolo">
    <span class="titolo_funzione"><%= title %></span>
	  <div class="sigla" tabindex="0"><%= t('sign') %></div>
		<span class="separatore_titolo"> | </span>
		<div class="titolo_esteso" tabindex="0"><%= t('title') %></div>
	</div>
  </div>
</div>
