<div id="barra_istituzionale" class="clearfix">
  <div class="logo hidden-xs">
	<a href="http://www.lispa.it">
	  <%= image_tag("new_lispa2.png", :alt => "Lombardia Informatica") %>
	</a>
  </div>
  <div>
	<div class="area_titolo">
	  <div class="sigla" tabindex="0">WebIP</div>
		<span class="separatore_titolo"> | </span>
		<div class="titolo_esteso" tabindex="0">Gestione Indirizzi IP</div>
	</div>
  </div>
</div>
