<div id="barra_istituzionale">
	<div class="spalla_sx">
		<a href="http://www.lispa.it">
			<%= image_tag("top_logoli.png", :alt => "Lombardia Informatica", :class => "logo") %>
		</a>
		<div class="fascia_sup"></div>
		<div class="fascia_inf"></div>
	</div>
	<div class="spalla_dx">
		<div class="fascia_sup"></div>
		<div class="fascia_inf"></div>
	</div>
	<div class="fascia_sup">
	</div>
	<div class="fascia_inf">
		<div class="sormontante_titolo"></div>
		<div class="area_titolo">
			<div class="spalla_sx"></div>
			<div class="spalla_dx"></div>
			<h1 class="nome_gamma_servizi">Gestione Indirizzi IP </h1>
		</div>
	</div>
</div>
<div class="content_separator">&nbsp;</div>